/bin/
/libs/
/.settings/
*.zip
*.jar
*.install
*.gz
*.cmd
*.out
*.prop
.classpath
.project
.pmd
*.iml
.checkstyle
/lib/
/build/
settings.gradle
build.gradle
gradle.properties
.gradle/
.idea/
data-coverity/
